<!--
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="src/jquery.caret.js"></script>
-->
<section>
	<div class="container" style="width: 95%;">
		<div class="row" style="padding-top: 2em;">
			<div class="col s12">
				<div class="col s12" style="height: 510px;">
					<h5 class="light col s8">Usql</h5>
					<div class=" fixed-action-btn col s4" style="height: 82%; left: 80%;">
						<a href="#" class="btn-floating darken-2 blue"><i class="material-icons">file_upload</i></a>
						<a href="#" class="btn-floating lighten-2 light-blue"><i class="material-icons">file_download</i></a>
						<a href="#" class="btn-floating darken-2 green"><i class="material-icons">play_arrow</i></a>
					</div>
					<textarea onkeydown="return pulsar(event)" name="s3d" id="s3d" cols="30" rows="10" 
					style="border: solid 1px rgba(0,0,0,0.2); height: 85%; font-family: monospace;"
					data-activates='dropdown2'
					>
Principal(){
outStr("Hola mundo");
}
</textarea>
				</div>
			</div>
		</div>
	</div>

	<div>		
		<ul id="dropdown2" class="dropdown-content" style="width: 123.516px; position: absolute; top: 100.453px; left: 54.2188px; display: none; opacity: 1;">
			<li><a href="#!">one</a></li>
			<li><a href="#!">two</a></li>
			<li class="divider"></li>
			<li><a href="#!">three</a></li>
			<li><a href=""><i class="material-icons">view_module</i>four</a></li>
			<li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
		</ul>
	</div>

	
</section>




