<header>
        
        <div class="navbar-fixed cyan darken-2">
        <nav>
			<div class="cyan darken-2">
				<!--<a href="index.html" class="brand-logo right thin" style="padding-right: 1em;">Basic3D <small>(modo avanzado)</small></a>
                -->
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
					<li class="active">
						<a href="#!" class="dropdown-button" data-activates="modosDeEdicion">
							<!--
							-->
							<i class="material-icons left">edit</i>
						Edición
						</a>
					</li>
					<li>
						<a target="_blank" href="debug.html">
							<!--
							-->
							<i class="material-icons left">bug_report</i>
						Debug
						</a>
					</li>
					<li>
						<a href="#optimizacion">
							<!--
							-->
							<i class="material-icons left">trending_up</i>
						Optimizar
						</a>
					</li>
					<li>
						<a href="#reportes">
							<!--
							-->
							<i class="material-icons left">list</i>
						Reportes
						</a>
					</li>
				</ul>
			</div>
        </nav>
    </div>
                    
</header>